@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form--input {
        @apply border-2 border-gray-300 rounded-md p-2 my-2;
    }
    .form{
        @apply bg-white p-4 rounded-md shadow-2xl justify-center items-center flex flex-col xs:w-3/4 sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/4 2xl:w-1/4 h-1/2;
    }
    .content{
        @apply bg-white p-4 rounded-md shadow-2xl justify-center items-center flex flex-col xs:w-3/4 sm:w-1/2 md:w-3/5 lg:w-1/2 xl:w-1/4 2xl:w-1/2 xs:h-4/5 sm:h-4/5 md:h-3/4 lg:h-1/2 xl:h-1/2 2xl:h-4/5;
    }
    .background{
        @apply w-full flex flex-col p-4 items-center justify-center h-screen bg-[url('.././images/background.jpg')] bg-cover shadow-2xl ;
    }
    .submit{
        @apply bg-brownish hover:bg-blue-600 text-gray-700 font-medium py-2 px-4 rounded w-full mb-2 ;
    }
    .workouts{
        @apply bg-brownish border-black border-2 rounded-md p-2 my-2 w-5/6;
    }
    .delete{
        @apply xs:w-1/5 sm:w-1/5 md:w-1/6 lg:w-1/6 xl:w-1/12
    }
    .create-workout{
        @apply xs:max-h-[150px] sm:max-h-[200px] md:max-h-[200px] lg:max-h-[200px] xl:max-h-[350px] overflow-y-auto mt-2
    }
}

@layer utilities{
    .bg-brownish{
        background-color: #f6e6cb;
    }
    .bg-background{
        background-color: #b6c7aa;
    }
    .max-height{
        max-height: 40vh;
    }
    .text{
        color: #4a3c2c;
    }
}
